.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.minimum-height{
  min-height: 420px;
}

.header-div{
  background-color: #f7f7f7;
  color: #333333;
  height: 40px;
}

.header-span{
  line-height: 40px;
  vertical-align: middle;
  padding-left: 20px;
}
