body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-div{
  background-color: #f7f7f7;
  color: #333333;
  height: 40px;
  margin-bottom: 1%;
  font-size: 1.2em;
}

.header-span{
  line-height: 40px;
  vertical-align: middle;
  padding-left: 20px;
}

.minimum-height{
  min-height: 420px;
}

@media(max-width: 990px){
  .apply-change-label{
    display: none;
  }
}

.add-expense-btn{
  margin-top: 20px;
  margin-bottom: 1%;
}

.margin-left-five{
  margin-left: 5%;
}

.margin-left-one{
  margin-left: 5px;
}

.text-center{
  text-align: center;
}

.gray-underline{
  text-decoration: underline;
  text-decoration-color: gray;
}

.no-border{
  border: 0 !important;
}

.header-div a{
  color: #333333 !important;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}

.margin-bottom-one{
  margin-bottom: 1%;
}

.red-color{
  color: red;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Static Shape */

.loader:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
}

/* Active Shape */

.loader:after {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  animation: loader 0.6s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
}

/* Active Animation */

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader:before,
.loader:after {
  width: 2.28571429rem;
  height: 2.28571429rem;
  margin: 0;
}

.light-silver{
  color: #727272 !important;
}

.padding-bottom-ten{
  padding-bottom: 10px;
}

.loader-top{
  margin-top: 8% !important;
}

